<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FZN1F6XJ5V"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-FZN1F6XJ5V');
  </script>

  <!-- ===== Favicon ===== -->
  <link rel="icon" type="image/png" href="assets/img/favicon.png" />

  <!-- ===== CSS ===== -->
  <link rel="stylesheet" href="/assets/css/404-style.css" />


  <title>About Us - Get Disruptions</title>
</head>
<body>

  <header>
    <div class="heading">
      <h1>404 Not Found</h1>
    </div>
  </header>

  <section class="home">
    <div class="image">
      <img src="/assets/img/zwolle.jpg" alt="Scarecrow.png" width="100px">
    </div>

    <div class="content">
      <h1>Ops no hemos podido encontrar la pagina</h1>
      <p>La pagina que estas buscando no se encuentra en nuestro sistema</p>

      <a href="#" class="btn">Inicio</a>
    </div>

  </section>
</body>
</html>